name: Continuous integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  ContinuousIntegrationBuild: "true"
  DOTNET_NOLOGO: "true"

jobs:

  build:
    name: Build and pack on CI server
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:

    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build -c Release --no-restore /maxCpuCount:1

    - name: Run unit tests
      run: dotnet test -c Release --no-build

    - name: Prepare for distribution
      run: dotnet pack -c Release --no-build /maxCpuCount:1
